<form class="form-horizontal alert alert-warning" id="editForm" ng-submit="UpdateInfo(currentData)" hidden>
	<h3 class="text-center">Update Product Details</h3>
	<div class="form-group">
		<label for="ASIN">Product ASIN:</label>
		<input type="text" class="form-control" ng-model="currentData.ASIN" value="{{currentData.ASIN}}">
	</div>
	<div class="form-group">
		<label for="Name">Product Name:</label>
		<input type="text" class="form-control" ng-model="currentData.name" value="{{currentData.name}}">
	</div>
	<div class="form-group">
		<label for="URL">Product URL:</label>
		<input type="text" class="form-control" ng-model="currentData.url" value="{{currentData.url}}">
	</div>
	<div class="form-group">
		<label for="Quantity">Product Quantity:</label>
		<input type="text" class="form-control" ng-model="currentData.quantity" value="{{currentData.quantity}}">
	</div>
	<div class="form-group">
		<label for="Color">Product Color:</label>
		<input type="text" class="form-control" ng-model="currentData.color" value="{{currentData.color}}">
	</div>
	<div class="form-group">
		<label for="Size">Product Size:</label>
		<input type="text" class="form-control" ng-model="currentData.size" value="{{currentData.size}}">
	</div>
	<div class="form-group">
		<label for="Price">Product Price:</label>
		<input type="text" class="form-control" ng-model="currentData.price" value="{{currentData.price}}">
	</div>
	<div class="form-group">
		<label for="Type">Type:</label><br />
		<select name="type" class="form-control" ng-model="currentData.type" required>
			<!--<option value="" disabled selected hidden>Select the type</option>	-->
			<option ng-repeat="t in type" value="{{t.type}}">{{t.type}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="Category">Category:</label><br />
		<select name="category" class="form-control" ng-model="currentData.category" required>
			<!--<option value="" disabled selected hidden>Select the Category</option>	-->
			<option ng-repeat="c in category" value="{{c.category}}">{{c.category}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="Collection">Collection:</label><br />
		<select name="collection" class="form-control" ng-model="currentData.collection" required>
			<!--<option value="" disabled selected hidden>Select the collection</option>	-->
			<option ng-repeat="co in collection" value="{{co.collection}}">{{co.collection}}</option>
		</select>
	</div>
	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="List.$invalid" ng-click="updateMsg(currentData.id)">Update</button>
	</div>
</form>