<div class="container">
    <div class="container col-md-6 col-md-offset-3">
        <h1 class="title text-center">Register user</h1>
    <div class="row mt80">
        <div class="fadeInDown">
            <div class="alert alert-danger text-center alert-failure-div" role="alert" style="display: none">
                <p></p>
            </div>
            <div class="alert alert-success text-center alert-success-div" role="alert" style="display: none">
                <p></p>
            </div>
            <form class="" name="empList" id="form" ng-submit="insertUser(empInfo);">
                <div class="form-group">
                    <label style="color:white" for="name">Name</label> 
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="empInfo.name" autofocus required>
                </div>
                <div class="form-group">
                    <p class="text-danger" ng-show="empList.name.$invalid && empList.name.$dirty">Name field is Empty!</p>
                </div>
                <div class="form-group">
                    <label style="color:white" for="email">Email</label> 
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="empInfo.email">
                </div>
                <div class="form-group">
                    <p class="text-danger" ng-show="empList.email.$invalid && empList.email.$dirty">Invalid Email!</p>
                </div>
                <div class="form-group">
                    <label style="color:white" for="companyName">Company Name</label> 
                    <input type="text" class="form-control" id="companyName" name="companyName" ng-model="empInfo.companyName" placeholder="Company Name">
                </div>
                <div class="form-group">
                    <p class="text-danger" ng-show="empList.companyName.$invalid && empList.companyName.$dirty">Company Name is Empty!</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-save btn-primary" ng-disabled="empList.$invalid">Save User</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>